body {
    font-family: 'Playfair Display', serif;
    color: #4a2e1b;
}

.navbar-brand {
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Cinzel', serif;
}

footer {
    font-size: 0.9rem;
}

.font-logo{
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    margin-top: 15px;
    letter-spacing: 1px;
    color: #4a2e1b;
}
.carousel-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel-text {
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    margin-top: 15px;
    letter-spacing: 1px;
    color: #ffffff;
}

.footer-madeira {
    background-color: #693814;
}

.bg-madeira-transparente {
    background-color: rgba(101, 67, 33, 0.85);
}

.btn-portifolio{
    font-family: 'Cinzel', serif;
    background-color: #693814;
    margin-top: 40px;
}

@media (min-width: 992px) {
    .carousel-img {
        height: 400px;
    }
}

@media (max-width: 991px) {
    .carousel-img {
        height: 180px;
    }
}
